<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light p-4">
            <a class="nav-link active" aria-current="page" style="font-family: monospace; color: black;" href="/konservasi/">Konservasi</a>
            <a class="nav-link active" aria-current="page" style="font-family: monospace; color: black;" href="/add_konservasi/">Add Data Konservasi</a>
            <a class="nav-link active" aria-current="page" style="font-family: monospace; color: black;" href="/biota/">Biota</a>
            <a class="nav-link active" aria-current="page" style="font-family: monospace; color: black;" href="/add_biota/">Add Data Biota</a>
            <a class="btn btn-dark" aria-current="page" style="font-family: monospace; color: white; margin-left: 15px; margin-top: 15px;" href="{% url 'logout' %}">Logout</a>
    </div>
  </div>
  <nav class="navbar navbar-light bg-light shadow">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>